/*GM 03/01/2022*/
/*back to the top of the page copie utilities2*/
.wims_topback {
  padding:.1em;
  position:fixed;
  bottom:0;
  right:0;
  z-index: 10;
  /*background-color:#b9b5b5;*/
  background-color:#c8c6c6;
  border-radius: 6px;
}
.wims_topback a{
  position:relative;
  top:0;
  transition: top .2s linear;
}
.wims_topback a:before{
    content:"\21E1";
    font-size: 2em;
}
.wims_topback a:hover{top:-.5em;}


/*back to the bottom of the page*/
.wims_bottomback {
  padding:0 .1em .5em .1em;
  position:fixed;
  top:0;
  right:0;
  z-index: 10;
  background-color:#c8c6c6;
  border-radius: 6px;
}
.wims_bottomback a{
  position:relative;
  bottom:0;
  transition: bottom .2s linear;
}
.wims_bottomback a:before{
    content:"\21E3";
    font-size: 2em;
}
.wims_bottomback a:hover{top:.5em;}
/******/


.grid-container .fluid{
	width : 100%;
}

#actualites.scroller, #exemples.scroller {
  height: 25em;
  overflow-y: scroll;
  scrollbar-width: thin;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

	#actualites.scroller, #exemples.scroller {
	  height: 20em;
	  overflow-y: scroll;
	  scrollbar-width: thin;
	}
}
/*GM 9/07/19 Actuality Bloc*/

/*31/01/20 lien vers toutes les actualités*/
ul.wims_home_list #archive_link {
  background-color:transparent;
  text-align:right;
}
ul.wims_home_list  {
  padding-left: 1em;
}