/** themes/_css - forms.css */
/**  Somes styles designed to display fields in forms, tableless **/
/* Currently used in exam and documents properties **/

/*form{
    line-height: 2em;
}*/

/* corrects attributes color:inherit from normalize.css */
input, textarea {
  color: black;
}
input[disabled], textarea[disabled] {
  color: #444;
  background-color: #DFDFDF;
}

sup input:not([type="color"]), .wims_mathml .msup textarea, .wims_mathml msup textarea,
sub input:not([type="color"]), .wims_mathml .msub textarea, .wims_mathml msub textarea{
  padding: 2px;
}


/***** Foundation 6 input styles *****/

input:not([type]), [type="text"], [type="password"], [type="date"], [type="datetime"],
 [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"],
 [type="search"], [type="tel"], [type="time"], [type="color"], [type="url"], textarea {
  border: 1px solid #cacaca;
  box-sizing: border-box;
}

/* everything but color */
input:not([type]), [type="text"], [type="password"], [type="date"], [type="datetime"],
 [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"],
 [type="search"], [type="tel"], [type="time"], [type="url"], textarea {
  padding: .5rem;
  flex: 0 1 auto; /* CHANGE "0 0 content" en "0 1 auto" */
  min-width: 0;
  max-width: 100%;
  align-self: center;
  display: block;
  box-sizing: border-box;
}


input:not([type]):focus, [type='text']:focus, [type='password']:focus,
 [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus,
 [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus,
 [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus,
 [type='color']:focus, textarea:focus {
  outline: none;
  border: 1px solid #8a8a8a;
  background-color: #fefefe;
  box-shadow: 0 0 5px #cacaca;
  transition: box-shadow .5s, border-color .25s ease-in-out;
}

.help-text {
  margin-top: 0;
  font-size: .8125rem;
  font-style: italic;
  color: #0a0a0a; }



fieldset>ul{
  margin: 0;
  padding-left: 1.5em;
}
/* this is generaly a fieldset class */
.property_fields{
  /* Sadly, Safari don't handle flex on fieldsets yet (you have to add a div inside)...*/
  display: flex;
  flex-flow: row wrap;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 900px;
  padding: .5em 0px;
  /*Background-image is here to lighten background color */
  background-image: linear-gradient(to bottom,  rgba(255,255,255,0.7) 0%,rgba(255, 255, 255, 0.9) 48%,rgba(255,255,255,0.4) 100%); /* W3C */
  /* Ombre diffuse au lieu de bordure */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
/* If property_fields is flex, wimscenter must take the full width*/
.property_fields .wimscenter{
  width: auto;
}

/*.property_fields .field {
	margin: auto;
}*/

.property_fields .actions,
.property_fields .wimsform{
  padding: .5em;
  margin-top: .5em;
}
.property_fields>fieldset{
  margin-bottom: .5em;
}

 .field.box{
  padding: .4em .4em .4em .4em;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 1.2em;
  min-height: 1em;
  flex: 0 0 100%; /* Prend toute la largeur */
  width: 100%; /* Force la largeur complète */
  box-sizing: border-box; /* Important */
  position: relative;
  transition: background-color 0.2s ease, border 0.2s ease;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

/* Supprime la bordure du dernier field */
.property_fields > .field.box:last-child{
  border-bottom: none;
}

/* Effet de survol - couleur --wims_ref_bgcolor transparente */
.field.box:hover{
background-color: color-mix(in srgb, var(--wims_ref_bgcolor) 15%, transparent)!important;
box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

/* Alignement des boutons d'aide à droite */
.field.box .wims_button_help.float_right{
  margin-left: 1em; /* Pousse le bouton à droite dans le flexbox */
  align-self: center; /* Centrage vertical dans le flexbox */
  flex-shrink: 0; /* Le bouton ne rétrécit pas */
  margin-top: 0;
  order: 999; /* Seulement le bouton d'aide */
  margin-bottom: 0;
}

.box_title{
  margin-top: 0;
  margin-bottom: .5em;
  background-color: var(--wims_bgcolor);
  padding: 2px;
}

.property_fields p{
  padding: 0 1em;
  box-sizing: border-box;
  margin: 0; /* Supprime les marges qui pourraient décaler */
  line-height: 1.4; /* Harmonise avec le reste */
}

/*.box>div, .box>input, .box>textarea, .box>select{
  margin-left:.3em;
}*/

.property_fields .halfwidth{
  float: left;
  min-height: 1em;
  flex: 0 0 50%; /* 50% de la largeur */
  width: 50%; /* Force 50% */
  box-sizing: border-box; /* Important pour respecter le padding */
}

.property_fields .field:nth-child(even){
  background-color: rgba(255,255,255,.8);
}

.property_fields .field:nth-child(odd){
  background-color: rgba(255,255,255,.8);
}

.formHelp{
  font-size: 9pt;
  color: #666;
}

.property_fields legend{
  background-color: var(--wims_ref_bgcolor); /* Fond avec variable */
  color: var(--wims_ref_menucolor); /* Couleur du texte */
  font-size: 1.2em;
  font-weight: bold;
  padding: .5em 1em; /* Padding pour aspect titre */
  margin-left: 0px;
  margin-right: 0px; /* Compense le padding horizontal ET une partie du vertical */
  box-sizing:border-box; 
  width: 100%; /* Compense les marges négatives */
  border: none; /* Bordure supprimée */
  border-radius: 6px 6px 0 0 
}

.field label{
  font-weight:bold;
  font-size: .875rem;
  line-height: 1.4; /* Augmenté légèrement pour meilleure lisibilité */
  display: block; /* Change de inline-block à block pour flexbox */
  flex-shrink: 0; /* Le label ne rétrécit pas */
  margin-right: .5em; /* Espacement avec l'input */
  align-self: center; /* Centrage vertical dans le flexbox */
  padding: 0; /* Supprime tout padding qui pourrait décaler */
  margin-top: 0;
  margin-bottom: 0;
}

/*.property_fields .field>label{
  min-width:10em;
}*/

.property_fields select,.property_fields textarea{
  vertical-align: middle;
}

.field input[type="text"]:not(.inline),
.field input[type="password"]:not(.inline),
.field input[type="email"]:not(.inline),
.field input[type="number"]:not(.inline),
.field input[type="url"]:not(.inline),
.field select{
  flex: 0 1 auto; /* Peut rétrécir mais ne grandit pas */
  min-width: 10px; /* Largeur minimale */
  align-self: center;
  display: block;
}

.field textarea{
  width:100%; /* Les textarea restent sur toute la largeur */
  align-self: center; /* Centrage vertical dans le flexbox */
  display: block; /* Important pour flexbox */
}

/* Tous les inputs dans un field sont centrés verticalement */
.field input,
.field select,
.field textarea{
  display: block; /* Important pour le bon fonctionnement avec flexbox */
  margin: 0; /* Supprime les marges par défaut */
}

/* Les éléments strong et div dans les fields */
.field strong,
.field > div{
  align-self: center;
  line-height: 1.4;
  display: block;
  margin-right: .5em;
}

/* Éléments p dans les fields */
.field p{
  align-self: center;
  margin: 0;
  display: block;
}


.field input.small_input{
  width:6em;
  min-width:6em;
}

/* Input file */
.field input[type="file"]{
  align-self: center;
}

input[type="color"]{
  vertical-align: middle;
  /* Largeur réduite pour les input color */
  width: 62px;
  align-self: center; /* Centrage vertical dans le flexbox */
  display: block; /* Important pour flexbox */
  margin: 0;
}

/* Input color avec classe inline : label et input alignés horizontalement */
.inline{
  display: inline-flex; /* Utilise flexbox pour un meilleur alignement */
  align-items: center; /* Centre verticalement les éléments */
  margin-right: .2em;
  margin-bottom: .3em;
  flex-direction: row; /* Force la direction horizontale */
}

/* Labels et inputs dans inline ne doivent pas être en block */
.inline label{
  display: inline-block !important; /* Override le display: block */
  margin-right: .2em;
  margin-bottom: 0;
  line-height: 1.4;
  flex-shrink: 0;
}

.inline input[type="color"],
input[type="color"].inline{
  display: inline-block !important; /* Override le display: block */
  margin-right: .2em;
  margin-bottom: 0.2rem;
  flex-shrink: 0;
}

input[type="color"].inline + label{
  display: inline-block !important;
  margin-right: .5em;
  margin-bottom: 0;
  line-height: 1.4;
  flex-shrink: 0;
}

/* Alignement horizontal des input color dans wimscenter */
p.wimscenter input[type="color"]{
  display: inline-block;
  margin-right: .2em; /* Espacement réduit à 0.2em */
  margin-bottom: .3em;
  vertical-align: middle; /* Garde vertical-align car inline-block ici */
}

p.wimscenter label{
  display: inline-block;
  vertical-align: middle;
}

.wims_formradio {
  display: inline-flex;
  align-items: center;
  gap: .3em;
  margin-right: 1em;
}

.wims_formradio input[type="checkbox"],
.wims_formradio input[type="radio"] {
  display: inline-block !important;
  margin: 0;
  flex: 0 0 auto;
}

li.wims_formradio{
  display: block;
}
.wims_formradio label {
  display: inline-block !important;
  margin: 0;
  font-weight: normal;
  flex: 0 0 auto;
}

/** Styles for HTML 5 inputs (required or typed, like type="number")*/
input:not([type="submit"]):not([type="button"]), textarea{
  background-repeat: no-repeat;
  /* 92% lets some browsers display control buttons like for the type="number" input */
  background-position-x: 92%;
  background-position-y: 3px;
}
input:required:not(.noicon), textarea:required:not(.noicon){
  /* The padding is more precise than the 92%, but we apply it only for required inputs */
  padding-right: 1em;
  background-position-x: right;
}
/* invalid required inputs */
input:invalid, textarea:invalid, .required_invalid_legend {
  background-image: url("../../../gifs/svg/exclamation_mark_red.svg");
  background-size: 1em;
  box-shadow: 0 0 1px rgba(200, 0, 0, .85);
}
/* invalid inputs, with focus  */
input:focus:invalid, textarea:focus:invalid, .required_invalid_focus_legend {
  background-image: url("../../../gifs/svg/thumb_down_red.svg");
}
/* valid required inputs (dont show the green check on all valid, only required ones) */
input:required:focus:valid, textarea:required:focus:valid, .required_valid_legend {
  background-image: url("../../../gifs/svg/yes_check_green.svg");
  background-size: .9em;
  box-shadow: 0 0 1px rgba(0, 200, 0, .85);
}
/* noicon css class disable the required icon */
input.noicon,
input.noicon:required,
input.noicon:required:focus,
textarea.noicon:required,
textarea.noicon:required:focus{
  background-image:none;
}

.property_fields pre,
.property_fields code,
.property_fields .wims_scrollable{
  width: 100%;
}

/* Small screens */
@media only screen and (max-width: 40em) {
  .property_fields .halfwidth, .halfwidth{
    width: 100%;
/*    enlevé pour gérer un pb de largeur dans la fenêtre de login (bouton "s'inscrire") */    
/*    problème dans affichage de forms étroits ? */    
/*    display: block; */
    min-width: 0;
  }
  /* prevent inputs from being larger than screen*/
  /*.box input:not([type="button"]):not([type="color"]),.box select,.box textarea{
    width:75%;
  }*/
  .property_fields pre,
  .property_fields code,
  .property_fields .wims_scrollable,
  .property_fields .canvas_div{
    max-width: 21em;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .property_fields .halfwidth{
    min-width: 310px;
  }
  .property_fields pre,
  .property_fields code,
  .property_fields .wims_scrollable,
  .property_fields .canvas_div{
    max-width: 32em;
  }
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) {
  .property_fields pre,
  .property_fields code,
  .property_fields .wims_scrollable,
  .property_fields .canvas_div{
    max-width: 784px;
  }
} /* min-width 1025px, large screens */

/* Règles ajoutées car l'ifrme de l'éditeur de texte tinyMCE était cassé (plus d'affichage de l'iframe) */ 

/* S'assurer que l'iframe TinyMCE est visible avec une hauteur minimale */
.field.box .mce-edit-area,
.field.box .tox-edit-area,
.field.box .mce-container-body{
  display: block !important;
  min-height: 300px !important;
  width: 100% !important;
}

/* L'iframe lui-même */
.field.box iframe[id*="mce"],
.field.box iframe[id*="tinymce"],
.field.box .mce-content-body{
  display: block !important;
  min-height: 250px !important;
  width: 100% !important;
  visibility: visible !important;
  opacity: 1 !important;
}

/* Container principal TinyMCE */
.field.box .mce-tinymce,
.field.box .tox-tinymce{
  min-height: 350px !important;
  height: auto !important;
}

/* Supprimer toute transformation ou positionnement bizarre */
.field.box .mce-tinymce *,
.field.box .tox-tinymce *{
  position: static !important;
}

/* Exception : dans wimscenter, éléments alignés horizontalement */
.wimscenter label,
.wimscenter input,
.wimscenter .wims_mathml {
  display: inline-block ;
  vertical-align: middle;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
}

/* Exception : dans oefstatement, éléments alignés horizontalement */
.oefstatement label,
.oefstatement input,
.oefstatement .wims_mathml {
  display: inline-block ;
  vertical-align: middle;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
}

