/****GM le 25 octobre 2019 : rajout margin-bottom: 0.5em; dans les div ****//

.wims_defn h4{
    font-weight : bold;
    color : black;    
}
.wims_thm h4{
    font-weight : bold;
    color : black;
}
.wims_rem h4{
    font-weight : bold;
    color : black;
}
.wims_etym h4{
    font-weight : bold;
    color : black;
}
div.wims_defn{
    background-color: #fff4e0;
    padding:0.1em 0.5em 0.5em 0.5em;
    border-radius: 5px 5px 5px 5px;
    font-family: arial,verdana,helvetica,sans-serif; 
    margin-bottom: 0.5em; 
}
div.wims_thm{
    background-color: #def5ff;
    padding:0.15em 0.5em 0.5em 0.5em;
    border-radius: 5px 5px 5px 5px;
    font-family: arial,verdana,helvetica,sans-serif;
    margin-bottom: 0.5em;
}
div.wims_rem{
    background-color: #e9f8ee;
    padding:0.1em 0.5em 0.5em 0.5em;
    border-radius: 5px 5px 5px 5px;
    font-family: arial,verdana,helvetica,sans-serif;
    margin-bottom: 0.5em;
}
div.wims_etym{
    background-color: #f0f0f0;
    padding:0.1em 0.5em 0.5em 0.5em;
    border-radius: 5px 5px 5px 5px;
    font-family: arial,verdana,helvetica,sans-serif;
    margin-bottom: 0.5em;
}
div.wimscenter {
    margin:.8em .5em .8em .5em
}
.wims_emph {
    font-style:italic;
    color:black;
    font-weight:bold;
}
