
/* News Bloc */
/*GM 15/12/2022*/

.actu_date {
  font-size:0.75em !important;
  color:#666 !important;
  font-weight: bold !important;
  padding-left:1em;
}
.actu_title{
  margin:0 0.2em 0.4em 0 !important;
  color: #db8200;
  font-size: 1em;
}
.actu_content>div{
  margin:0 .5em;
}

/* Samples Bloc */

.carousel_info{
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
  color:#999;
  font-size:12px;
}
.carousel_titre {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
.carousel_desc>p{
  margin: 0;
}
.carousel_desc>h4{
  margin-top: .5em;
  margin-bottom: 4px;
}
