/* SC : Modifications des CSS pour le thème PION */

/* Issu de _css/general.css : changement de la police par défaut */
/* penser à modifier aussi le document htmlheader.phtml          */

/* General */
body {
    margin: 0;
    padding: 0;
    /*font-family: arial, verdana, helvetica,tahoma,"Liberation Sans", sans-serif;*//*Modif GM 06-01-2022*/
    font-family: Montserrat,verdana,tahoma,"Ubuntu Mono","Liberation Sans","DejaVu Sans Mono",'Roboto',helvetica,arial, sans-serif;
 /*    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; *//* Nikaia */
    /*font-size: .9em;*/
    /*césure*/
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
 }
 
 /**** GM 09/01/2022 ****/
 .main_body .ui-widget{
 /*   font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; *//*Nikaia*/
   font-family: Montserrat,verdana,tahoma,"Ubuntu Mono","DejaVu Sans Mono","Liberation Sans",helvetica,arial, sans-serif;
 }
 
 #euler_wims_title #text_euler_wims {
   flex:1;
   font-size: 3.2em;
   font-weight: bold;
   text-align: left;
   color:var(--wims_ref_bgcolor);
   /* font-family: arial,helvetica,"Liberation Sans", sans-serif; */
   font-family: Montserrat,arial,helvetica,"Liberation Sans", sans-serif;
   margin-bottom: 0;/*GM 22/01/22*/
 
 }

 .property_fields legend {
  border:0px;
  border-radius:3px
}
/* 
.wims_browse_list li,.wims_browse_subject_list li {
  background-color: #f1f1f1;
}
.wims_home_result_list>li:nth-child(odd) {
  background-color: #f1f1f1;
} */
.wims_home_list li:nth-child(even) {background-color:#f1f1f1;}
.wims_seq_id{
  font-weight:bold;
  padding-right:.3em;
  border-right:1px solid;
  display:none;
}

#wims_title li.chrono {
  color: #fff;
  position:absolute;
  left:50%;
  transform: translate(-50%);
}

#wims_title li.chrono ::marker{
  content: "\f252";
  font-family: FontAwesome;
  margin-right:0.5em;
}

#text_euler_wims {
	margin-left: 10px;
}

.institution_logo {
	margin-right: 10px;
}

#horloge {
	flex: revert;
	color: var(--wims_hlink_color);
	font-size: 1.6em;
	margin-right: 10px;
}

#horloge::before {
	content:"\f252";
	font-family: FontAwesome;
}

/* Menu sandwich */
li.menuitem {
	list-style-type:none;
}

button.menu-icon {
	min-width : 20px;
}

.menu2 {
	width: 220px;
	margin: 1rem 0.2rem;
}

li.menuitem>a {
	padding : 0.3rem 1rem;
}
h5.menu_title {
	font-size : 1.15rem;
	margin-left : 0.5rem;
	margin-bottom : 0;
	padding-top : 0.3rem;
}

.close-button {
	top: 2px;
	right: 8px;
}

.logout_title {
	position: absolute;
	right: 1em;
}

.logout_title>a {
	color:var(--wims_ref_menucolor)
}


.logout_title>span {
	margin-right: 1em;
}

@media only screen and (max-width: 32em) {
	.logout_title>a>span {
		display : none;
	}
}

#user_links {
	margin-left: 2em;
}

/* Ariane / breadcrumbs */

.no-icon::before {
	content : ""!important;
}

.breadcrumbs>li>a {
	padding : 0;
}

@media only screen and (max-width: 32em) {
	.breadcrumbs li:not(:last-child)::after {
		margin : 0.1rem;
	}
}

/* Bouton mes notes page eleve */

.doubletrophy::before{
	font-family : FontAwesome;
	content : "\f091";
	margin-right : 3px;
}

.doubletrophy::after{
	font-family : FontAwesome;
	content : "\f091";
	margin-left : 3px;

}
