/* SHEET STYLES */

/*GM 6/07/21*/
/* pour eviter que status soit coupe a cause hyphens de firefox */
/* devrait etre dans _css/sequence.css et _css/wimstable.css et _css/breadcrumbs.css mais seule modif */
.wims_status{white-space: nowrap;}
.wims_label{white-space: nowrap;}
.breadcrumbs .menuitem{padding-bottom: 5px;}
/* */
.wims_sheet_title {text-align:center;}

.wims_sheet_desc, .wims_work_desc, .wims_vote_desc, .wims_exam_desc, .wims_doc_desc, .wims_freework_desc {
  padding:.5em;
  font-style: italic;
  display: block;
}
.wims_sheet_desc>p, .wims_work_desc>p, .wims_vote_desc>p, .wims_exam_desc>p, .wims_doc_desc>p, .wims_freework_desc>p {
  margin:0;
}

.wims_user_sheet .wims_user_info {
  margin-left:30%;
}

.wims_work_legend{
  text-align: right;
}
/** GM 06/07/2020 rajout overflow-x **/
ul.wims_work_list, ul.wims_user_sheet{
  list-style:none;
  padding:.5em;
  margin:0;
  /*overflow-x:auto; */ /*NON pose pb dans span wims_sheet_score dans presentation sequences*/
}

.wims_work_list>li, .wims_user_sheet>li, .wims_sheet_list>li, .wims_work_legend li {
  display: inline-block;
  /*border:1px solid gray;*/
  /*border-radius: 5px;*/
}
/* Legend for Color and icon types */
.wims_work_legend>p, .wims_work_legend>ul{
  margin:0;
}

.wims_work_list>li, .wims_user_sheet>li, .wims_sheet_list>li {
  padding:1em;
  /*padding-bottom: 1.5em;*/ /*GM 6juillet2021*/
  /*padding-right: 0.2em;*//*GM 6juillet2021*/
  /*margin-right: 3px;*/
  margin-bottom: 1.5em;
  width:42%; /*GM 6juillet2021 45 remplace par 42*/
  /*box-sizing: border-box;*/
  /*min-width: 20em;*/
  min-height:3em;
  vertical-align:top;
}

.wims_exo_item   {
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .25));
}

.wims_sheet_item, .wims_doc_item, .wims_vote_item, .wims_exam_item, .wims_exo_item, .wims_freework_item{
  background-color: #FFF;
  position:relative;
  padding-left:.2em;
  cursor: pointer;
}

.wims_sheet_item:before,
.wims_freework_item:before,
.wims_doc_item:before,
.wims_vote_item:before,
.wims_exam_item:before,
.wims_exo_item:before,
.wims_tool_item:before,
.wims_glossary_item:before,
.wims_exercise_item:before,
.wims_recreation_item:before,
.wims_datamodule_item:before{
  font-size: 20px;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: -3px;
  margin-right: 3px;
}

/* Item types in a class */
li.wims_sheet_item,li.wims_doc_item,li.wims_vote_item,li.wims_exam_item,
li.wims_tool_item,li.wims_glossary_item,li.wims_glossary_item,
li.wims_freework_item {
  border:solid;
  border-width:0;
  border-left-width:.5em;
  border-radius: 5px;
  margin-left: 1em; 
  box-shadow: 5px 5px 15px rgb(0,0,0,0.2);
}


li.wims_freework_item { border-left-color: #E6A493;}
.wims_freework_item:before { content:"\1F4DA";}
li.wims_sheet_item { 
  border-left-color:#9CF;
  /* background: linear-gradient(to bottom, #9CF, #FFF); */
}
.wims_sheet_item:before { content:"\270E";}
li.wims_doc_item   { border-left-color:#99F;}
.wims_doc_item:before { content:"\1f4d5";}
li.wims_vote_item  { border-left-color:#9f9;}
.wims_vote_item:before { content:"\2713";}
li.wims_exam_item  { border-left-color:#cc4b37;}
.wims_exam_item:before { content:"\270D";}
li.wims_tool_item  { border-left-color:#99A;}
.wims_tool_item:before { content:"\1F6E0";}
li.wims_glossary_item  { border-left-color:#AFB31E;}
.wims_glossary_item:before {content:"\1F524";}
/* for new modules page : */
.wims_exercise_item:before {content:"\1F58B";}
.wims_recreation_item:before {content:"\1f579";}
.wims_datamodule_item:before {content:"\1f4E6";}

.wims_sheet_score.trophy1:before{content:"\1F3C6";}
.wims_sheet_score.trophy2:before{content:"\1F3C6\1F3C6";}
.wims_sheet_score.trophy3:before{content:"\1F3C6\1F3C6\1F3C6";}

.wims_sheet_score>span{border:3px solid transparent;padding:.1em .2em;display: inline-block; box-sizing: border-box; width:100%}

/* Display of list numbers before each li (even when display=inline)*/
.wims_sheet_list {
  /* List will start at 1 */
  counter-reset: LIST-ITEMS;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.wims_sheet_list>li:before {
  content: counter( LIST-ITEMS ) ".";
  counter-increment: LIST-ITEMS;
  padding-right: .25em;
}


/* default style for scores. will be customised by score colors */
.wims_sheet_score {
  text-align:center;
  margin:1px;
  padding:5px;
  /* border:1px solid #666; */
  border:0;
  background-color: #FFF;
  border-radius: 2px;
}

div.menuitem.score{
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: .5em;
  width: 80%;
  margin: auto;
}

.wims_user_info{
  position: absolute;
  right: .5em;
  /* attention si on place wims_user_info en bas, il faut décaler wims_score_bar*/
  top: -.75em;
  /*bottom:-.5em;*/
}
/*.wims_exo_item .wims_user_info{
  top:auto;
  bottom: 0;
}*/

/* could be used
.wims_sheet_weight{}
.wims_style_expire{}
*/

/* Small and Medium screens */
/* max-width 1024px  */
@media only screen and (max-width: 64em) {}

/* Small screens */
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
  .wims_work_list>li, .wims_user_sheet>li, .wims_sheet_list>li{
    /*width:100%;*/ /*Modif GM 6/07/21*/
    width: 90%;
  }
}

/* Medium screens */
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {}

/* min-width 1025px, large screens */
/* Large screens */
@media only screen and (min-width: 64.063em) {}

