
.title-bar2 {
  background-color: #222;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
}

.menu-toggle {
  font-size: 1.8em;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  padding-top: 70px;
  transition: left 0.4s ease;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar.active {
  left: 0;
}
