/*********************************
   Nikaia styles for WIMS TITLES récupéré pour Euler
**********************************/

#wims_modu_title2>.wims_title,
#wims_modu_title2>.wims_subtitle {
    float: left;
}

#wims_modu_title1>.wims_title_close {
   padding-left:10px;
   margin-left:10px;
   padding-bottom:5px;
}


#wims_modu_title1>.wims_title, .title_box>.wims_title{
   margin-top: 6px;
}

/* see a subtitle sample in module=adm%2Fnew */
#wims_modu_title2>.wims_subtitle {
   margin-top: 12px;
}

/* ****** END OF TITLES ******** */
